@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definições padrão para o tema claro */
:root {
  --title: theme("colors.title");
  --paragraph: theme("colors.paragraph");
  --label: theme("colors.label");
  --icon: theme("colors.icon");
  --input: theme("colors.input");
  --bg: theme("colors.bg");
  --primary-bg: theme("colors.primaryBg");
  --secondary-bg: theme("colors.secondaryBg");
}

/* Definições para o tema escuro */
.dark {
  --title: theme("colors.dark.title");
  --paragraph: theme("colors.dark.paragraph");
  --label: theme("colors.dark.label");
  --icon: theme("colors.dark.icon");
  --input: theme("colors.dark.input");
  --bg: theme("colors.dark.bg");
  --primary-bg: theme("colors.dark.primaryBg");
  --secondary-bg: theme("colors.dark.secondaryBg");
}

span {
  color: var(--paragraph);
}

body {
  @apply font-sans;
  color: var(--title);
  background-color: var(--bg);
}

.background-gradient {
    background: linear-gradient(90deg, var(--secondary-bg) 0%, var(--primary-bg) 100%);
    transition: background 0.3s ease;
}

.bg-gradient-login {
  background: linear-gradient(90deg, var(--secondary-bg) 0%, var(--primary-bg) 100%);

}
.bg-login {
    background-image: url("../app/assets/login/waves_login.svg");
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento sem distorcer */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem de fundo */
  }


.background-gradient:hover {
    background: linear-gradient(90deg,  var(--primary-bg) 0%, var(--secondary-bg) 100%);
}
